/** UTILITY: Colors **/
@each $ct, $cd, $cp in $color-types {
    /*! #{$cd} */
    @each $style in $colors {
      $type: map-get($style, 'type');
  
      /*! #{$type} */
      $shades: utilityColor($type, $ct, $style);
      @each $shade, $value in $shades {
        @if $ct == "bg" {
          #{$shade} { background-color: unquote($value) };
        } @else {
          #{$shade} { color: unquote($value) };
        }
      }
    }
  }

// Shadow
.shadow {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
}