// Padding
.padding-small {
    padding: 1rem;
}

.padding-medium {
    padding: 2rem;
}

.padding-large {
    padding: 3rem;
}

// Border radius
.border-radius-full {
    border-radius: 25px;
}

.border-radius-top {
    border-radius: 25px 25px 0 0;
}

// Flexies
.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

